@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');
@import url("https://fonts.googleapis.com/css?family=IBM Plex Mono&effect=fire");
body {
    background-color: rgb(215, 208, 208);
    font-family: 'IBM Plex Mono';
    font-size: 22px;
}

h1 {
    font-family: 'IBM Plex Mono';
    font-size: 22px;
    margin-left: 20px;
}